@model EmailDTO

@{
    Layout = "_Email";
}

<div class="container">
    <div class="content mw-mw-w-default w100p ml-mr-auto">
        <div class="wrapper">
            <div class="logo tac fz-2 mt-1 mb-2">
                QR Animal
            </div>
            <div class="main tac">
                <div class="header fz-2 mb-1">
                    @Model.UserName, please confirm your account
                </div>
                <div class="text tac ml-mr-auto w100p">
                    Thanks to our service, you can simple share information about your pet!
                </div>
                <div class="button mt-2 mb-3">
                    <a href="@Model.Code" target="_blank" class="link fz-1 w100p">Yes, activate my account</a>
                </div>
                <hr class="separator mb-1" />
                <div class="mistake">
                    If you received this email by mistake, simply delete it. You won't be confirmed your email if you don't click the confirmation link below.
                </div>
            </div>
        </div>
        <div class="copyright fz-1">
            QR Animal © 2019-2020
        </div>
    </div>
</div>
