@model EmailDTO

@{
    Layout = "_EmailLayout";
}

<div class="container">
    <div class="content mw-mw-w-default w100p ml-mr-auto">
        <div class="wrapper">
            <div class="logo tac fz-2 mt-1 mb-3">
                QR Animal
            </div>
            <div class="main tac">
                <div class="header fz-2 mb-1">
                    @Model.UserName, please confirm your email
                </div>
                <div class="text tac ml-mr-auto w100p">
                    Thanks to our service, you can always just share information about your pet!
                </div>
                <div class="button mt-2 mb-3">
                    <a href="#" target="_blank" class="link fz-1 w100p">Yes, confirm my email</a>
                </div>
                <hr class="separator mb-1" />
                <div class="mistake">
                    If you received this email by mistake, simply delete it. You won't be confirmed your email if you don't click the confirmation link below.
                </div>
            </div>
        </div>
        <div class="copyright fz-1">
            Copyright © 2019 QR Animal. All Rights Reserved.
        </div>
    </div>
</div>
