@model AnimalViewModel

@{
    ViewData["Title"] = $"Edit {@Model.Nickname} - QR Animal";
}

<div class="shadow-sm p-3 bg-white rounded">
    <h4 class="mb-3">Update @Model.Nickname</h4>

    <form method="post" asp-controller="Animal" asp-action="Edit">
        <div asp-validation-summary="ModelOnly"></div>

        <div class="form-row">
            <div class="form-group col-md-2">
                <label>Nickname</label>
                <input id="animalNickname" type="text" class="form-control" asp-for="Nickname" placeholder="Nickname" required />
                <span asp-validation-for="Nickname"></span>
            </div>
            <div class="form-group col-md-2">
                <label>Passport</label>
                <input id="animalPassport" type="text" class="form-control" asp-for="Passport" placeholder="Passport" required />
                <span asp-validation-for="Passport"></span>
            </div>
            <div class="form-group col-md-4">
                <label>Kind</label>
                <input id="animalKind" type="text" class="form-control" asp-for="Kind" placeholder="Kind" required />
                <span asp-validation-for="Kind"></span>
            </div>
            <div class="form-group col-md-4">
                <label>Breed</label>
                <input id="animalBreed" type="text" class="form-control" asp-for="Breed" placeholder="Breed" required />
                <span asp-validation-for="Breed"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label>Features</label>
                <textarea id="animalFeatures" class="form-control" asp-for="Features" aria-label="With textarea"></textarea>
                <span asp-validation-for="Features"></span>
            </div>
        </div>

        <button type="submit" class="btn btn-outline-warning btn-lg btn-block">Update</button>
    </form>
</div>
