@{
    Layout = "_Account";
}

@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="form-account form-bg">
    <h2>@Localizer["Header"]</h2>
    <p>@Localizer["Text"]</p>
</div>

@section scripts {
    <script src="~/js/redirect.js"></script>
}