@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="form-group shadow-sm p-3 bg-white rounded">
    <h2>@Localizer["Text"] <span id="userInput">@User.Identity.Name</span></h2>
    <textarea class="form-control mb-3" id="messageInput" rows="3" placeholder="@Localizer["Message"]"></textarea>
    <button id="sendButton" type="submit" class="btn btn-outline-success btn-lg btn-block mb-2">@Localizer["Send"]</button>
</div>

<div class="row">
    <ul id="messagesList" class="p-3 chat-reverse"></ul>
</div>

@section scripts {
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js" asp-append-version="true"></script>
}
