@model ErrorViewModel

@{
    Layout = "_Account";
}

@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="form-account form-bg">
    <h2>@Localizer["Error"] @Model.RequestId</h2>
    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary btn-sm" role="button">@Localizer["ToIndex"]</a>
</div>
