@{
    ViewData["Title"] = "Home";
}

@if (User.Identity.IsAuthenticated)
{
    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Logout" />
    </form>
}
else
{
    <div>
        <a asp-controller="Home" asp-action="Index">Main</a>
        <a asp-controller="Account" asp-action="Registration">Registration</a>
        <a asp-controller="Account" asp-action="Login">Login</a>
    </div>


}

<div>
    <h1>Welcome to our site!</h1>
</div>
