.cookie-container {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.85);
    width: 100%;
    height: 4rem;
    bottom: 0;
    display: flex;
}

.cookie-wrapper {
    display: flex;
    margin: auto;
}

.cookie-text {
    color: #ffffff;
}

#cookieConsent button:hover {
    color: #ffffff;
}

.close {
    color: #ffffff;
    text-shadow: none;
}

.hidden {
    display: none;
}

@media (max-width: 30em) {
    .cookie-wrapper {
        display: flex;
        margin: auto 1rem;
    }
}
