html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
    color: #FFFFFF;
    background-image: url("/images/bg-main.jpg"); /* Photo by Krista Mangulsone on Unsplash */
    background-size: cover;
    background-position: center;
}

.main-container {
    max-width: 42em;
}

.head-wrapper {
    margin-bottom: 2rem;
}

.text-wrapper {
    font-weight: 300;
    margin-bottom: 2rem;
}

@media (min-width: 48em) {
    .logo-wrapper {
        float: left;
    }

    .nav-wrapper {
        float: right;
    }
}

.middle-wrapper {
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
}

    .middle-wrapper .btn-lg {
        font-weight: 700;
    }
