body {
    background-color: #F5F5F5;
}

.container-bg {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #FFFFFF;
    border-radius: 0.5rem;
}

.nav-divider {
    margin: 0 0 2rem 0;
}

.hr-divider {
    margin: 2rem 0;
}
