body {
    background-color: #F7F7F7;
}

.navbar-custom {
    padding: .25rem 1rem;
}

.bg-custom {
    background-color: #1a1a1f;
}

.bg-header {
    background: #FD4865;
    background: -webkit-linear-gradient(to right, #FD4865, #EFA878);
    background: linear-gradient(to right, #FD4865, #EFA878);
    color: #FFFFFF;
}

.chat-reverse {
    display: flex;
    flex-direction: column-reverse;
}

.container-bg {
    padding: 1rem;
    background-color: #FFFFFF;
    border-radius: 0.5rem;
}

.border-cancel {
    border: none !important;
}

.nav-divider {
    margin: 0 0 2rem 0;
}

.hr-divider {
    margin: 2rem 0;
}

.qr-code {
    width: 100%;
    border: 2px dashed #343a40;
}

.li-without-dot {
    list-style: none;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
