@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieContainer" class="cookie-container" role="alert">
        <div class="cookie-wrapper">
            <div class="cookie-text mr-2">
                @Localizer["Policy"]
            </div>
            <div id="cookieConsent">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>

    <script>
        (function () {
            let button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;

                let cookieContainer = document.getElementById("cookieContainer");
                cookieContainer.classList.add("hidden");
            }, false);
        })();
    </script>
}