<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">

    <style>

        /* Main classes */
        .container {
            font-family: 'Roboto', sans-serif;
            display: flex;
            flex-direction: column;
        }

        .content {
            background-color: #ffffff;
        }

        .wrapper {
            margin-top: 1rem;
            margin-bottom: 1rem;
            margin-left: 2rem;
            margin-right: 2rem;
        }

        .logo {
            color: #FF512F;
            font-weight: 700;
        }

        .header {
            font-weight: 300;
        }

        .main {
        }

        .text {
            font-size: 1.25rem;
            font-weight: 100;
        }

        .button {
            display: inline-block;
        }

        .link {
            background-color: #FF512F;
            border-radius: 4px;
            color: #ffffff;
            font-weight: 300;
            line-height: 2rem;
            padding: 1rem 1.5rem;
            text-decoration: none;
            white-space: nowrap;
        }

        .mistake {
            font-size: 0.75rem;
            font-weight: 300;
        }

        .separator {
            background-color: #E8E8E8;
            border: 0;
            height: 1px;
        }

        .copyright {
            background-color: #F5F5F5;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            color: #868686;
            text-align: center;
            font-weight: 300;
        }

        /* Compacted some properties */
        .mw-mw-w-default {
            max-width: 32rem;
            min-width: 20rem;
        }

        .ml-mr-auto {
            margin-left: auto;
            margin-right: auto;
        }

        .mt-1 {
            margin-top: 1rem;
        }

        .mt-2 {
            margin-top: 2rem;
        }

        .mb-1 {
            margin-bottom: 1rem;
        }

        .mb-2 {
            margin-bottom: 2rem;
        }

        .mb-3 {
            margin-bottom: 3rem;
        }

        .fz-1 {
            font-size: 1rem;
        }

        .fz-2 {
            font-size: 2rem;
        }

        .tac {
            text-align: center;
        }

        .w100p {
            width: 100%;
        }

    </style>
</head>
<body>
    @RenderBody()
</body>
</html>
