@{
    Layout = "_Account";
}

@{
    ViewData["Title"] = "Email is sended - QR Animal";
}

<script src="~/js/redirect.js"></script>

<div class="form-account form-bg">
    <h2>Check email inbox</h2>
    <p>Для сброса пароля перейдите по ссылке в письме, отправленном на ваш email.</p>
</div>
