@model LoginViewModel

@{
    Layout = "_Account";
}

<form method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl" asp-antiforgery="true">
    <div asp-validation-summary="ModelOnly"></div>

    <h1>SignIn</h1>

    <div>
        <input type="text" asp-for="UserName" placeholder="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>

    <div>
        <input type="password" placeholder="Password" required asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>

    <div>
        <input asp-for="RememberMe" />
        <label asp-for="RememberMe">RememberMe</label>
    </div>

    <button type="submit">Login</button>
</form>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
}
