@model RegistrationViewModel

@{
    Layout = "_Account";
}

<form class="form-account" method="post" asp-controller="Account" asp-action="Registration" asp-antiforgery="true">
    <div asp-validation-summary="ModelOnly"></div>

    @*Place for logo*@
    @*<img class="mb-4" src="" alt="" width="72" height="72">*@

    <h1 class="h3 mb-3 font-weight-normal">Registration</h1>

    <input id="username" type="text" class="form-control" asp-for="UserName" placeholder="UserName" required autofocus />
    <span asp-validation-for="UserName"></span>

    <input id="email" type="email" class="form-control" asp-for="Email" placeholder="Email" required />
    <span asp-validation-for="Email"></span>

    <input id="passWithoutBorder" type="password" class="form-control" asp-for="Password" placeholder="Password" required />
    <span asp-validation-for="Password"></span>

    <input id="passWithBorder" type="password" class="form-control mb-3" asp-for="PasswordConfirm" placeholder="PasswordConfirm" required />
    <span asp-validation-for="PasswordConfirm"></span>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Registration</button>

    <p class="mt-5 mb-3 text-muted">&copy; 2019</p>

</form>
