@{
    Layout = "_Account";
}

@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="form-account form-bg shadow-sm">

    <!-- Icons made by Freepik from www.flaticon.com -->
    <a asp-controller="Home" asp-action="Index"><img class="mb-4" src="~/images/logo.png" alt="Logo" width="128" height="128"></a>

    <h2>@Localizer["Header"]</h2>
    <p>@Localizer["Message"]</p>
</div>

@section scripts {
    <script src="~/js/redirect.js"></script>
}
