@model ResetPasswordViewModel

@{
    Layout = "_Account";
}

@{
    ViewData["Title"] = "Сброс пароля";
}

<form asp-controller="Account" asp-action="ResetPassword" method="post" class="form-account form-bg">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input asp-for="UserName" type="hidden" />
    <input asp-for="Code" type="hidden" />

    <h1 class="h3 mb-3 font-weight-normal">Reset password</h1>

    <p><span asp-validation-for="Password" class="text-danger"></span></p>
    <p><span asp-validation-for="ConfirmPassword" class="text-danger"></span></p>

    <input id="forgotPassTopFrame" asp-for="Password" class="form-control" placeholder="Password" required/>
    <input id="forgotPassBottomFrame" asp-for="ConfirmPassword" class="form-control mb-3" placeholder="Confirm password" required/>

    <button type="submit" class="btn btn-lg btn-primary btn-block">Сбросить</button>
</form>
