@{
    Layout = "_Account";
}

@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="form-account form-bg shadow-sm">
    <h2>@Localizer["Header"]</h2>
    <p>@Localizer["Message"] <a asp-controller="Account" asp-action="Login">@Localizer["Link"]</a>.</p>
</div>

@section scripts {
    <script src="~/js/redirect.js"></script>
}
