@{
    Layout = "_Account";
}

@{
    ViewData["Title"] = "Reset password confirmation - QR Animal";
}

<script src="~/js/redirect.js"></script>

<div class="form-account form-bg">
    <h2>Password reset successfully</h2>
    <p>Ваш пароль сброшен. Для входа в приложение перейдите по <a asp-controller="Account" asp-action="Login">ссылке</a>.</p>
</div>
